* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.top-nevbar {
    margin-top: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav-items {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
body{
    height: 100vh;
    width: 100vw;
}
main {
    border: 2px solid #8f8d7e;
    height: 80%;
    width: 25%;
}

/* header */
header {
    text-align: center;
}

.img {
    display: flex;
    /* justify-content: centerSS; */
    align-items: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: #6b6960;
}

img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

header input {
    border: none;
    height: 40px;
    font-size: larger;
    border: none;
    width: 50%;
    outline: none;
}

label {
    font-size: xx-large;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    text-align: start;
}

/* .pay {
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    /* text-align: center; */
/* align-items: center; */

.pay {
    display: flex;
    margin-left: 45%;
}

.note {
    /* margin-left: 30%; */
    background-color: #dddfd1e2;
    text-align: center;
    border-radius: 10px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 50;
    background-color: #8f8d7ec3;
    margin-top: 80px;
}

.buttons {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

button {
    height: 40px;
    width: 100px;
    background-color: white;
    color: black;
    border: none;
    /* box-shadow: 2px 3px 1px 1px #456789; */
    border-radius: 10px;
}

.buttons div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 30px;
}

.next {
    position: absolute;
    z-index: 6;
    top: 40%;
    right: 40%;
   
    color: white;
    border-radius: 50%;
    width: 30px;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.next button{
    width: 30px;
    height: 30px;
    background-color:#4285F4;
    border-radius: 100%;
    color: white;
}

/* pay html */

.pay_btn{
    margin-top:240px;
    height: 30%;
    width: 100%;
    border: 2px solid #6b6960;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pay_btn button{
  border: 2px solid #234567;
  width: 95%;
  background-color: #4285F4;
  color: white;
  font-size: large;
}